TestyJednostkowe/Connected Services/Magazyn_wcf/WCFService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dodajUtwor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="tytul" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wykonawca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dlugosc" type="xs:float" />
        <xs:element minOccurs="0" name="rok_wydania" type="xs:int" />
        <xs:element minOccurs="0" name="id_albumu" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajUtworResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_albumu" type="xs:int" />
        <xs:element minOccurs="0" name="nazwa_albumu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dlugosc_albumu" type="xs:float" />
        <xs:element minOccurs="0" name="wydawnictwo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajAlbumResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajWydawnictwo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="nazwa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rok_zal" type="xs:int" />
        <xs:element minOccurs="0" name="wlasciciel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kraj" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajWydawnictwoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="usunWydawnictwo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usunWydawnictwoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="usunUtwor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usunUtworResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="usunAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usunAlbumResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>