TestyJednostkowe/Connected Services/Magazyn_wcf/WCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1727/WCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1727/WCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFService_dodajUtwor_InputMessage">
    <wsdl:part name="parameters" element="tns:dodajUtwor" />
  </wsdl:message>
  <wsdl:message name="IWCFService_dodajUtwor_OutputMessage">
    <wsdl:part name="parameters" element="tns:dodajUtworResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_dodajAlbum_InputMessage">
    <wsdl:part name="parameters" element="tns:dodajAlbum" />
  </wsdl:message>
  <wsdl:message name="IWCFService_dodajAlbum_OutputMessage">
    <wsdl:part name="parameters" element="tns:dodajAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_dodajWydawnictwo_InputMessage">
    <wsdl:part name="parameters" element="tns:dodajWydawnictwo" />
  </wsdl:message>
  <wsdl:message name="IWCFService_dodajWydawnictwo_OutputMessage">
    <wsdl:part name="parameters" element="tns:dodajWydawnictwoResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_usunWydawnictwo_InputMessage">
    <wsdl:part name="parameters" element="tns:usunWydawnictwo" />
  </wsdl:message>
  <wsdl:message name="IWCFService_usunWydawnictwo_OutputMessage">
    <wsdl:part name="parameters" element="tns:usunWydawnictwoResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_usunUtwor_InputMessage">
    <wsdl:part name="parameters" element="tns:usunUtwor" />
  </wsdl:message>
  <wsdl:message name="IWCFService_usunUtwor_OutputMessage">
    <wsdl:part name="parameters" element="tns:usunUtworResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_usunAlbum_InputMessage">
    <wsdl:part name="parameters" element="tns:usunAlbum" />
  </wsdl:message>
  <wsdl:message name="IWCFService_usunAlbum_OutputMessage">
    <wsdl:part name="parameters" element="tns:usunAlbumResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFService">
    <wsdl:operation name="dodajUtwor">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/dodajUtwor" message="tns:IWCFService_dodajUtwor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/dodajUtworResponse" message="tns:IWCFService_dodajUtwor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="dodajAlbum">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/dodajAlbum" message="tns:IWCFService_dodajAlbum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/dodajAlbumResponse" message="tns:IWCFService_dodajAlbum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="dodajWydawnictwo">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/dodajWydawnictwo" message="tns:IWCFService_dodajWydawnictwo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/dodajWydawnictwoResponse" message="tns:IWCFService_dodajWydawnictwo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="usunWydawnictwo">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/usunWydawnictwo" message="tns:IWCFService_usunWydawnictwo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/usunWydawnictwoResponse" message="tns:IWCFService_usunWydawnictwo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="usunUtwor">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/usunUtwor" message="tns:IWCFService_usunUtwor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/usunUtworResponse" message="tns:IWCFService_usunUtwor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="usunAlbum">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/usunAlbum" message="tns:IWCFService_usunAlbum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/usunAlbumResponse" message="tns:IWCFService_usunAlbum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFService" type="tns:IWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dodajUtwor">
      <soap:operation soapAction="http://tempuri.org/IWCFService/dodajUtwor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dodajAlbum">
      <soap:operation soapAction="http://tempuri.org/IWCFService/dodajAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dodajWydawnictwo">
      <soap:operation soapAction="http://tempuri.org/IWCFService/dodajWydawnictwo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usunWydawnictwo">
      <soap:operation soapAction="http://tempuri.org/IWCFService/usunWydawnictwo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usunUtwor">
      <soap:operation soapAction="http://tempuri.org/IWCFService/usunUtwor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usunAlbum">
      <soap:operation soapAction="http://tempuri.org/IWCFService/usunAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFService">
    <wsdl:port name="BasicHttpBinding_IWCFService" binding="tns:BasicHttpBinding_IWCFService">
      <soap:address location="http://localhost:1727/WCFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>